<table mat-table
       [dataSource]="dataSource">
       
  <ng-container matColumnDef="IdPoliza">
    <th mat-header-cell
        *matHeaderCellDef> IdPoliza </th>
    <td mat-cell
        *matCellDef="let element"> {{element.IdPoliza}} </td>
  </ng-container>
       
  <ng-container matColumnDef="Cedula">
    <th mat-header-cell
        *matHeaderCellDef> Cedula </th>
    <td mat-cell
        *matCellDef="let element"> {{element.Cedula}} </td>
  </ng-container>

  <ng-container matColumnDef="Nombre">
    <th mat-header-cell
        *matHeaderCellDef> Nombre </th>
    <td mat-cell
        *matCellDef="let element"> {{element.Nombre}} </td>
  </ng-container> 

  <ng-container matColumnDef="Descripcion">
    <th mat-header-cell
        *matHeaderCellDef> Descripcion </th>
    <td mat-cell
        *matCellDef="let element"> {{element.Descripcion}} </td>
  </ng-container>

  <ng-container matColumnDef="FechaInicio">
    <th mat-header-cell
        *matHeaderCellDef> FechaInicio </th>
    <td mat-cell
        *matCellDef="let element"> {{element.FechaInicio}} </td>
  </ng-container>

  <ng-container matColumnDef="PeriodoCobertura">
    <th mat-header-cell
        *matHeaderCellDef> Periodo Cobertura </th>
    <td mat-cell
        *matCellDef="let element"> {{element.PeriodoCobertura}} </td>
  </ng-container>

  <ng-container matColumnDef="Precio">
    <th mat-header-cell
        *matHeaderCellDef> Precio </th>
    <td mat-cell
        *matCellDef="let element"> {{element.Precio}} </td>
  </ng-container>

  <ng-container matColumnDef="TipoCobertura">
    <th mat-header-cell
        *matHeaderCellDef> Tipo Cobertura </th>
    <td mat-cell
        *matCellDef="let element"> {{element.TipoCobertura}} </td>
  </ng-container>

  <ng-container matColumnDef="TipoRiesgo">
    <th mat-header-cell
        *matHeaderCellDef> Tipo Riesgo </th>
    <td mat-cell
        *matCellDef="let element"> {{element.TipoRiesgo}} </td>
  </ng-container>

  <ng-container matColumnDef="actionsColumn">
    <mat-header-cell *matHeaderCellDef>
      <button mat-raised-button
              color="primary"
              (click)="createNew()">Create new</button>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-raised-button
              color="primary"
              (click)="edit(row)">Edit</button>
      <button mat-raised-button
              color="primary"
              (click)="delete(row)">Delete</button>
    </mat-cell>
  </ng-container>

  <tr mat-header-row
      *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row
      *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<ng-container *ngIf="showform">
  <form [formGroup]="form"
        (ngSubmit)="save()">
        
    <mat-form-field floatPlaceholder="never">
      <input matInput
              placeholder="IdPoliza"
              formControlName="idPoliza">
    </mat-form-field>        

    <mat-form-field>
      <mat-label>Cliente</mat-label>
      <mat-select [ngModelOptions]="{standalone:true}"  [(ngModel)]="selectedCliente">
        <mat-option *ngFor="let cliente of clientes" [value]="cliente.Cedula">
          {{cliente.Nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput
              placeholder="Nombre"
             formControlName="nombre">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             placeholder="Descripcion"
             formControlName="descripcion">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             placeholder="FechaInicio"
             type="date"
             formControlName="fechaInicio">
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="PeriodoCobertura"
             formControlName="periodoCobertura">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             placeholder="Precio"
             formControlName="precio">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tipo Cobertura</mat-label>
      <mat-select [ngModelOptions]="{standalone:true}"  [(ngModel)]="selectedTipoCobertura">
        <mat-option *ngFor="let tipocobertura of tiposcoberturas" [value]="tipocobertura.Id">
          {{tipocobertura.Nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>    
    <!-- <mat-form-field>
      <input matInput
             placeholder="TipoCobertura"
             formControlName="tipoCobertura">
    </mat-form-field> -->
    <!-- <mat-form-field>
      <input matInput
             placeholder="TipoRiesgo"
             formControlName="tipoRiesgo">
    </mat-form-field> -->
    <mat-form-field>
      <mat-label>Tipo Riesgo</mat-label>
      <mat-select [ngModelOptions]="{standalone:true}"  [(ngModel)]="selectedTipoRiesgo">
        <mat-option *ngFor="let tiporiesgo of tiposriesgos" [value]="tiporiesgo.Id">
          {{tiporiesgo.Nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>    
    <br>
    <br>
    <button mat-raised-button
            type="submit"
            color="primary"
            [disabled]="!form.valid">Save</button>
  </form>
</ng-container>
